@import "./_variables.scss";

@mixin bowler-frame {
    .frame {
        list-style: none;
        display: inline-block;
        box-sizing: border-box;
        width: $frame-width;
        height: $frame-height;
        padding: $frame-padding;
        border-width: $frame-border-width;
        border-color: $frame-border-color;
        border-style: solid;
        border-right-width: 0;
        position: relative;

        &:last-of-type {
            border-right-width: $frame-border-width;
        }
    }

    .frame-roll {
        position: absolute;
    }

    .frame-roll--first {
        top: $frame-roll-padding;
        left: 15px;
    }

    .frame-roll--second {
        box-sizing: border-box;
        width: 30px;
        height: 35px;
        right: 0;
        top: 0;
        padding: $frame-roll-padding;
        border-style: solid;
        border-color: $frame-roll-border-color;
        border-width: 0 0 $frame-roll-border-width $frame-roll-border-width;
        display: inline-block;
    }

    .frame-score {
        font-weight: 700;
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: $frame-score-border-width;
        left: 0;
        right: 0;
        font-size: 18px;
    }
}
