body {
    font: {
        family: 'Roboto Slab', serif;
        size: 14px;
        weight: 300;
    }
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: #eee;
}

h1 {
    margin: 0;
    font-weight: 700;
}

p {
    margin: 0 0 10px;
}

section {
    padding: 20px 30px;
}
