@import "vendor/normalize";

body {
    font: {
        family: 'Roboto Slab', serif;
        size: 14px;
        weight: 300;
    }
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: #eee;
}
